DOCTOR_DB_NAME=doctor_db
DOCTOR_DB_USER=doctor_user
DOCTOR_DB_PASSWORD=doctor_pass
DOCTOR_DB_PORT=5433

APPOINTMENT_DB_NAME=appointment_db
APPOINTMENT_DB_USER=appointment_user
APPOINTMENT_DB_PASSWORD=appointment_pass
APPOINTMENT_DB_PORT=5434

DOCTOR_GRPC_PORT=50051
APPOINTMENT_GRPC_PORT=50052
DOCTOR_SERVICE_ADDR=doctor:50051

REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0
CACHE_TTL_SECONDS=60
RATE_LIMIT_RPM=100
MOCK_GATEWAY_PORT=8080
MOCK_GATEWAY_URL=http://mock-gateway:8080
MOCK_GATEWAY_FAILURE_PERCENT=20

NATS_URL=nats://nats:4222
NATS_PORT=4222
NATS_MONITORING_PORT=8222
